/* screen - promotions */

.promotions {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1920px;
}

.promotions .overlap-group {
  height: 1080px;
  position: relative;
  width: 1920px;
}

.promotions .promotions-scene {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.promotions .promotions-scene video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.promotions .promotions-scene img {
  object-fit: cover;
}

.promotions .s-video-editing {
  background-image: url(../img/s-video-editing-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 56px;
  left: 512px;
  position: absolute;
  top: 930px;
  transition: all 0.5s ease-in-out;
  width: 186px;
}

.promotions .s-video-editing:hover {
  transform: scale(1.1);
}

.promotions .contact-us {
  background-image: url(../img/contact-us-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 124px;
  left: 756px;
  position: absolute;
  top: 756px;
  transition: all 0.5s ease-in-out;
  width: 408px;
}

.promotions .contact-us:hover {
  transform: scale(1.1);
}

.promotions .s-2-d-anime {
  background-image: url(../img/s-2d-anime-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 60px;
  left: 864px;
  position: absolute;
  top: 928px;
  transition: all 0.5s ease-in-out;
  width: 193px;
}

.promotions .s-2-d-anime:hover {
  transform: scale(1.1);
}

.promotions .home {
  background-image: url(../img/home@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 81px;
  left: 30px;
  position: absolute;
  top: 18px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.promotions .home:hover {
  transform: scale(1.1);
}

.promotions .gallery {
  background-image: url(../img/gallery@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 134px;
  left: 1707px;
  position: absolute;
  top: 16px;
  transition: all 0.5s ease-in-out;
  width: 179px;
}

.promotions .gallery:hover {
  transform: scale(1.1);
}

.promotions .s-about-us {
  background-image: url(../img/about-us@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 60px;
  left: 1223px;
  position: absolute;
  top: 925px;
  transition: all 0.5s ease-in-out;
  width: 193px;
}

.promotions .s-about-us:hover {
  transform: scale(1.1);
}

.promotions .terms-conditions {
  cursor: pointer;
  left: 912px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-decoration: underline;
  text-shadow: 0px 3px 6px #00000029;
  top: 999px;
  white-space: nowrap;
}

.promotions .refund-policy {
  cursor: pointer;
  left: 1284px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-decoration: underline;
  text-shadow: 0px 3px 6px #00000029;
  top: 1001px;
  white-space: nowrap;
}

.promotions .privacy-policy {
  cursor: pointer;
  left: 557px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-decoration: underline;
  text-shadow: 0px 3px 6px #00000029;
  top: 1000px;
  white-space: nowrap;
}

.promotions .icon-facebook {
  cursor: pointer;
  height: 60px;
  left: 1838px;
  object-fit: cover;
  position: absolute;
  top: 467px;
  transition: all 0.5s ease-in-out;
  width: 57px;
}

.promotions .icon-facebook:hover {
  transform: scale(1.1);
}

.promotions .icon-metro-youtube {
  cursor: pointer;
  height: 58px;
  left: 1842px;
  object-fit: cover;
  position: absolute;
  top: 375px;
  transition: all 0.5s ease-in-out;
  width: 57px;
}

.promotions .icon-metro-youtube:hover {
  transform: scale(1.1);
}

.promotions .pay-gif {
  background-image: url(https://cdn.animaapp.com/projects/6293c5b71230b0804aeb9040/files/pay-gif.gif);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 93px;
  left: 1833px;
  position: absolute;
  top: 561px;
  width: 68px;
}

.promotions .how-it-works {
  cursor: pointer;
  left: 1709px;
  letter-spacing: 0;
  line-height: 31px;
  position: absolute;
  text-decoration: underline;
  text-shadow: 0px 3px 6px #00000029;
  top: 1019px;
  white-space: nowrap;
}
